.container{
    max-width: 1120px;
    margin: 0 auto;
}

.content{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.marcas{

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 4rem;
    margin-bottom: 5rem;

    padding: 10 2rem;

    div{
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
    }

    a{
        
        transition: filter 0.2s;
        border-radius: 12px;
        margin: 0 3.2rem;
        border-radius: 12px;

        &:hover{
            cursor: pointer;
            filter: brightness(1.4);
        }
    }
    .porshe{
        height: 13rem;
        width: 15rem;
        border-radius: 12px;
    }

}

.divImage{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    input{
        background-color: white;
        border-radius: 12px;
        width: 25rem;
        height: 6.5vh;
        border: none;

        padding: 0 1rem;
        color: beige;
        font-size: 16px;
        font-weight: bold;
    }

}

.inputContainer {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Pode ajustar este valor de acordo com suas necessidades */
    transform: translateY(-50%);
    background-color: white;

    padding: 0 0.5rem;
  }

  .Image{
    margin: none;
    width: 100%;
    height: 300px;
}
